* {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft Yahei'
}
html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: #f4f4f4;
  }
a{  
    text-decoration: none;
}
.height100{
    height:100%;
}

.content{
    padding-top:46px;
}
.vux-header{
    padding:3px 0;
}